<%= form_for (@harvest) do |f|%>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :fulfillment %>
    <%= f.select(:fulfillment, options_for_select([["Delivery", "Delivery"], ["Pick-up", "Pick-up"], ["Meet", "Meet"]])) %>
  </div>  
  <!--<div class="field">-->
  <!--  <%= f.label :harvest_photos %>-->
  <!--  <%= f.file_field :harvest_photos, multiple: true %>-->
  <!--</div>-->
  <div class="actions">
    <%= f.submit 'Sell That Food' %>
    <%= link_to 'Nevermind', harvests_path, class: 'button' %>
  </div>    
<% end %>